WCF Pub Sub Service/DuplexWCF/PubSubClient/Service References/PubSubServiceReference/ListPublishSubscribe.Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ListPublishSubscribe.Service" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ListPublishSubscribe.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ListPublishSubscribe.Service/Imports">
      <xsd:import namespace="http://ListPublishSubscribe.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/PubSubService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPubSubService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_UnsubscribeAll_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeAll" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_UnsubscribeAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeAllResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ListAllPublishers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllPublishers" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ListAllPublishers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllPublishersResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ListMyPublishers_InputMessage">
    <wsdl:part name="parameters" element="tns:ListMyPublishers" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ListMyPublishers_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListMyPublishersResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ListAllLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:ListAllLocations" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ListAllLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListAllLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_PublisherInit_InputMessage">
    <wsdl:part name="parameters" element="tns:PublisherInit" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_PublisherInit_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublisherInitResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ClientInit_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientInit" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ClientInit_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientInitResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_PublishValueChange_InputMessage">
    <wsdl:part name="parameters" element="tns:PublishValueChange" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_PublishValueChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublishValueChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_AllMeasurementsFromTo_InputMessage">
    <wsdl:part name="parameters" element="tns:AllMeasurementsFromTo" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_AllMeasurementsFromTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllMeasurementsFromToResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_CertainMeasurementFromTo_InputMessage">
    <wsdl:part name="parameters" element="tns:CertainMeasurementFromTo" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_CertainMeasurementFromTo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CertainMeasurementFromToResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_HighLowByID_InputMessage">
    <wsdl:part name="parameters" element="tns:HighLowByID" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_HighLowByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:HighLowByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Average_InputMessage">
    <wsdl:part name="parameters" element="tns:Average" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_Average_OutputMessage">
    <wsdl:part name="parameters" element="tns:AverageResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_HighLowByLocation_InputMessage">
    <wsdl:part name="parameters" element="tns:HighLowByLocation" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_HighLowByLocation_OutputMessage">
    <wsdl:part name="parameters" element="tns:HighLowByLocationResponse" />
  </wsdl:message>
  <wsdl:message name="IPubSubService_ValueChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ValueChange" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IPubSubService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Subscribe">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/Subscribe" message="tns:IPubSubService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/SubscribeResponse" message="tns:IPubSubService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Unsubscribe">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/Unsubscribe" message="tns:IPubSubService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/UnsubscribeResponse" message="tns:IPubSubService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UnsubscribeAll">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/UnsubscribeAll" message="tns:IPubSubService_UnsubscribeAll_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/UnsubscribeAllResponse" message="tns:IPubSubService_UnsubscribeAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListAllPublishers">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ListAllPublishers" message="tns:IPubSubService_ListAllPublishers_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ListAllPublishersResponse" message="tns:IPubSubService_ListAllPublishers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListMyPublishers">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ListMyPublishers" message="tns:IPubSubService_ListMyPublishers_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ListMyPublishersResponse" message="tns:IPubSubService_ListMyPublishers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ListAllLocations">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ListAllLocations" message="tns:IPubSubService_ListAllLocations_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ListAllLocationsResponse" message="tns:IPubSubService_ListAllLocations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublisherInit">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/PublisherInit" message="tns:IPubSubService_PublisherInit_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/PublisherInitResponse" message="tns:IPubSubService_PublisherInit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ClientInit">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ClientInit" message="tns:IPubSubService_ClientInit_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ClientInitResponse" message="tns:IPubSubService_ClientInit_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PublishValueChange">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/PublishValueChange" message="tns:IPubSubService_PublishValueChange_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/PublishValueChangeResponse" message="tns:IPubSubService_PublishValueChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AllMeasurementsFromTo">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/AllMeasurementsFromTo" message="tns:IPubSubService_AllMeasurementsFromTo_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/AllMeasurementsFromToResponse" message="tns:IPubSubService_AllMeasurementsFromTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CertainMeasurementFromTo">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/CertainMeasurementFromTo" message="tns:IPubSubService_CertainMeasurementFromTo_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/CertainMeasurementFromToResponse" message="tns:IPubSubService_CertainMeasurementFromTo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HighLowByID">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/HighLowByID" message="tns:IPubSubService_HighLowByID_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/HighLowByIDResponse" message="tns:IPubSubService_HighLowByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Average">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/Average" message="tns:IPubSubService_Average_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/AverageResponse" message="tns:IPubSubService_Average_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="HighLowByLocation">
      <wsdl:input wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/HighLowByLocation" message="tns:IPubSubService_HighLowByLocation_InputMessage" />
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/HighLowByLocationResponse" message="tns:IPubSubService_HighLowByLocation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ValueChange">
      <wsdl:output wsaw:Action="http://ListPublishSubscribe.Service/IPubSubService/ValueChange" message="tns:IPubSubService_ValueChange_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>